<h3>Novo aluno</h3>
<a href="/admin/aluno/alunoadd" class="btn btn-success">Cadastrar</a>
<div class="card">
  <div class="card-body">




{{#each alunos}}
    <h4>Aluno: {{alunos.nome}}</h4>
    <h4>turno: {{alunos.turno}}</h4>
    <h4>Ano de ensio: {{alunos.anoEnsino}}</h4>
{{else}}

{{/each}}
</div>
</div>
