{{#each alunos}}

{{else}}

{{/each}}

<div class="card">
  <div class="card-body">
    <h3>Cadastrar novo aluno:</h3>
    <form class="" action="/admin/alunoadd" method="post">


        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" value="nome">

        <label for="idade">Idade:</label>
        <input type="text" name="idade" id="idade" value="idade">

        <label for="turno">Turno:</label>
        <input type="text" name="turno" id="turno" value="turno">

        <label for="anoEnsino">Ano de estudo:</label>
        <input type="text" name="anoEnsino" id="anoEnsino" value="anoEnsino">

        <label for="anoEntrada">Ano de entrada:</label>
        <input type="text" name="anoEntrada" id="anoEntrada" value="anoEntrada">

        <label for="anoSaida">Ano de saída:</label>
        <input type="text" name="anoSaida" id="anoSaida" value="anoSaida">

        <label for="nomePai">Nome do pai:</label>
        <input type="text" name="nomePai" id="nomePai" value="nomePai">

        <label for="nomeMae">Nome da mãe:</label>
        <input type="text" name="nomeMae" id="nomeMae" value="nomeMae">

        <label for="telefone">Telefone de contato:</label>
        <input type="text" name="telefone" id="telefone" value="telefone">
            <button type="submit" name="button" class="btn btn-sucess">Cadastrar</button>
    </form>
  </div>
</div>
