{{#each erros}}
 <div class="alert alert-danger">
  {{texto}}
</div>
  {{else}}
   {{/each}}

<div class="card">
  <div class="card-body">
    <h3>Cadastrar novo aluno:</h3>
    <form class="" action="/admin/aluno" method="post">


        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" value=""><br>

        <label for="idade">Idade:</label>
        <input type="text" name="idade" id="idade" value=""><br>

        <label for="turno">Turno:</label>
        <input type="text" name="turno" id="turno" value=""><br>

        <label for="anoEnsino">Ano de estudo:</label>
        <input type="text" name="anoEnsino" id="anoEnsino" value=""><br>

        <label for="anoEntrada">Ano de entrada:</label>
        <input type="text" name="anoEntrada" id="anoEntrada" value=""><br>

        <label for="anoSaida">Ano de saída:</label>
        <input type="text" name="anoSaida" id="anoSaida" value=""><br>

        <label for="nomePai">Nome do pai:</label>
        <input type="text" name="nomePai" id="nomePai" value=""><br>

        <label for="nomeMae">Nome da mãe:</label>
        <input type="text" name="nomeMae" id="nomeMae" value=""><br>

        <label for="telefone">Telefone de contato:</label>
        <input type="text" name="telefone" id="telefone" value=""><br>
            <button type="submit" name="button" class="btn btn-success mt-4">Cadastrar</button>
    </form>
  </div>
</div>
