
<h1>Tela Administrativa</h1>

<h4>Configurações de aluno</h4>
<a href="/admin/aluno"><Button class="btn btn-primary">Configurar Aluno</Button></a>
<h4>Configurações de Professor</h4>
<a href="/admin02/professor"><Button class="btn btn-primary">Configurar Professor</Button></a>
<h4>Configurações de Funcionário</h4>
<a href="/admin02/funcionario"><Button class="btn btn-primary">Configurar Funcionário</Button></a>
