{{#each erros}}
 <div class="alert alert-danger">
  {{texto}}
</div>
  {{else}}
   {{/each}}

<div class="card">
  <div class="card-body">
    <h3>Cadastrar novo Funcionario:</h3>
    <form class="" action="/admin02/funcionario/novo" method="POST">
      <label for="nome">Nome:</label>
      <input type="text" name="nome" id="nome" value=""><br>

      <label for="idade">Idade:</label>
      <input type="text" name="idade" id="idade" value=""><br>

      <label for="funcao">Função:</label>
      <input type="text" name="funcao" id="funcao" value=""><br>

      <label for="dataEntrada">Data de entrada:</label>
      <input type="text" name="dataEntrada" id="dataEntrada" value=""><br>

      <label for="salario">Salário:</label>
      <input type="text" name="salario" id="salario" value=""><br>

      <label for="turnoTrabalho">Turno de trabalho:</label>
      <input type="text" name="turnoTrabalho" id="turnoTrabalho" value=""><br>

      <label for="regimeTrabalho">Regime de trabalho:</label>
      <input type="text" name="regimeTrabalho" id="regimeTrabalho" value=""><br>

      <label for="telefone">Telefone de contato:</label>
      <input type="text" name="telefone" id="telefone" value=""><br>


            <button type="submit" name="button" class="btn btn-success mt-4">Cadastrar</button>
    </form>
  </div>
</div>
