{{#each erros}}
 <div class="alert alert-danger">
  {{texto}}
</div>
  {{else}}
   {{/each}}

<div class="card">
  <div class="card-body">
    <h3>Cadastrar novo Funcionario:</h3>
    <form class="" action="/admin02/funcionario/novo" method="POST">


            <button type="submit" name="button" class="btn btn-success mt-4">Cadastrar</button>
    </form>
  </div>
</div>
